02-1 자료구조와 배열

In [3]:
# 학생 5명의 시험 점수를 입력받아 합계와 평균을 출력하기

print('학생 그룹 점수의 합계와 평균을 구합니다.')

score1 = int(input('1번 학생의 점수를 입력하세요.: '))
score2 = int(input('2번 학생의 점수를 입력하세요.: '))
score3 = int(input('3번 학생의 점수를 입력하세요.: '))
score4 = int(input('4번 학생의 점수를 입력하세요.: '))
score5 = int(input('5번 학생의 점수를 입력하세요.: '))

total = 0
total += score1
total += score2
total += score3
total += score4
total += score5
print(f'합계: {total} 평균: {total / 5}')

학생 그룹 점수의 합계와 평균을 구합니다.
합계: 318 평균: 63.6

In [6]:
# C, C++, Java 등의 언어에서는 =를 결합 연산자로 사용
a = b = 1 # C, C++, Java에서 입력, b = 1을 평가하여 얻은 결과를 a에 대입
a = (b = 1)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1896706664.py, line 3)

자료구조: 데이터 단위와 데이터 자체 사이의 물리적 또는 논리적인 관계

등가성 비교: ==
\
동일성 비교: is

02-2 배열이란?

In [10]:
# 시퀀스 원소의 최댓값 출력하기

from typing import Any, Sequence

def max_of(a: Sequence) -> Any:
    '''시퀀스형 a 원소의 최댓값을 반환'''
    maximum = a[0]
    for i in range(1, len(a)):
        if a[i] > maximum:
            maximum = a[i]
    return maximum

if __name__ == '__main__':
    print('배열의 최댓값을 구합니다.')
    num = int(input('원소 수를 입력하세요.: '))
    x = [None] * num # 원소 수가 num인 리스트를 생성

    for i in range(num):
        x[i] = int(input(f'x[{i}]값을 입력하세요.: '))

    print(f'최댓값은 {max_of(x)}입니다.')

배열의 최댓값을 구합니다.
최댓값은 123입니다.

---
---
연습

In [ ]:
if __name__ == '__main__':
    print('배열의 최댓값을 구합니다.')
    num = int(input('원소 수를 입력하세요.: '))
    x = (None,) * num # 원소 수가 num인 튜플을 생성

    for i in range(num):
        x[i] = int(input(f'x[{i}]값을 입력하세요.: '))

    print(f'최댓값은 {max_of(x)}입니다.')

배열의 최댓값을 구합니다.

TypeError: 'tuple' object does not support item assignment

In [17]:
a = (None,) * 3
a

(None, None, None)

In [ ]:
a[0] = 1 # 튜플은 이뮤터블 객체

TypeError: 'tuple' object does not support item assignment

---
---

In [5]:
# 배열 원소의 최댓값을 구해서 출력하기(원솟값을 입력받음)

from chap02.max import max_of

print('배열의 최댓값을 구합니다.')
print('주의: "End"를 입력하면 종료합니다.')

number = 0
x = []

while True:
    s = input(f'x[{number}] 값을 입력하세요.: ')
    if s == 'End':
        break
    x.append(int(s)) # 배열의 맨 끝에 추가
    print(f'x[{number}]로 {s}를 입력했습니다.')
    number += 1

print(f'{number}개를 입력했습니다.')
print(f'최댓값은 {max_of(x)}입니다.')

배열의 최댓값을 구합니다.
주의: "End"를 입력하면 종료합니다.
x[0]로 1를 입력했습니다.
x[1]로 3를 입력했습니다.
x[2]로 5를 입력했습니다.
x[3]로 7를 입력했습니다.
x[4]로 9를 입력했습니다.
5개를 입력했습니다.
최댓값은 9입니다.

In [10]:
# 배열 원소의 최댓값을 구해서 출력하기(원솟값을 난수로 생성)

import random
from chap02.max import max_of

print('난수의 최댓값을 구합니다.')
num = int(input('난수의 갯수를 입력하세요.: '))
lo = int(input('난수의 최솟값을 입력하세요: '))
hi = int(input('난수의 최댓값을 입력하세요: '))
x = [None] * num # 원소 수가 num인 리스트를 생성

for i in range(num):
    x[i] = random.randint(lo, hi) # lo 이상 hi 이하인 정수 난수를 반환

print(f'{x}')
print(f'이 가운데 최댓값은 {max_of(x)}입니다.')

난수의 최댓값을 구합니다.
[62, 91, 48, 86, 5, 74, 2, 27, 94]
이 가운데 최댓값은 94입니다.

In [12]:
# 각 배열 원소의 최댓값을 구해서 출력하기(튜플, 문자열, 문자열 리스트)

from chap02.max import max_of

t = (4, 7, 5.6, 2, 3.14, 1)
s = 'string'
a = ['DTS', 'AAC', 'FLAC']

print(f'{t}의 최댓값은 {max_of(t)}입니다.')
print(f'{s}의 최댓값은 {max_of(s)}입니다.')
print(f'{a}의 최댓값은 {max_of(a)}입니다.')

(4, 7, 5.6, 2, 3.14, 1)의 최댓값은 7입니다.
string의 최댓값은 t입니다.
['DTS', 'AAC', 'FLAC']의 최댓값은 FLAC입니다.

In [ ]:
lst1 = [1, 2, 3, 4, 5]
lst2 = [1, 2, 3, 4, 5]
lst1 is lst2 # 동일성 False

False

In [ ]:
lst1 = [1, 2, 3, 4, 5]
lst2 = lst1 # lst1을 참조
lst1 is lst2

True

In [18]:
lst1[2] = 9
lst1

[1, 2, 9, 4, 5]

In [19]:
lst2

[1, 2, 9, 4, 5]

---
---
연습

In [27]:
lst = [1, 2, 3, 4, 5]
str = 'Python'

In [ ]:
str = lst # string에도 list 할당가능
str

[1, 2, 3, 4, 5]

---
---

In [20]:
# 리스트의 모든 원소를 스캔하기(원소수를 미리파악)

x = ['John', 'George', 'Paul', 'Ringo']

for i in range(len(x)):
    print(f'x[{i}] = {x[i]}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

In [21]:
# 리스트의 모든 원소를 enumerate() 함수로 스캔하기

x = ['John', 'George', 'Paul', 'Ringo']

for i, name in enumerate(x):
    print(f'x[{i}] = {name}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

In [23]:
# 리스트의 모든 원소를 enumerate() 함수로 스캔하기

x = ['John', 'George', 'Paul', 'Ringo']

for i, name in enumerate(iterable=x, start=1):
    print(f'{i}번째 = {name}')

1번째 = John
2번째 = George
3번째 = Paul
4번째 = Ringo

In [24]:
# 리스트의 모든 원소를 스캔하기(인덱스 값을 사용하지 않음)

x = ['John', 'George', 'Paul', 'Ringo']

for i in x:
    print(i)

John
George
Paul
Ringo

In [26]:
# 뮤터블 시퀀스 원소를 역순으로 정렬

from typing import Any, MutableSequence

def reverse_array(a: MutableSequence) -> None:
    """뮤터블 시퀀스 a의 원소를 역순으로 정렬"""
    n = len(a)
    for i in range(n // 2):
        a[i], a[n - i -1] = a[n - i -1], a[i]

if __name__ == '__main__':
    print('배열 원소를 역순으로 정렬합니다.')
    nx = int(input('원소 수를 입력하세요.: '))
    x = [None] * nx

    for i in range(nx):
        x[i] = int(input(f'x[{i}]값을 입력하세요.: '))
    
    reverse_array(x) # x를 역순으로 정렬

    print('배열 원소를 역순으로 정렬했습니다.')
    for i in range(nx):
        print(f'x[{i}] = {x[i]}')

배열 원소를 역순으로 정렬합니다.
배열 원소를 역순으로 정렬했습니다.
x[0] = 5
x[1] = 3
x[2] = 1

In [30]:
# 10진수 정숫값을 입력받아 2~36진수로 변환하여 출력하기

def card_conv(x: int, r: int) -> str:
    """정숫값 x를 r진수로 변환한 뒤 그 수를 나타내는 문자열을 반환"""

    d = '' # 변환 후의 문자열
    dchar = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'

    while x > 0:
        d += dchar[x % r] # 해당하는 문자를 꺼내 결합
        x //= r

    return d[::-1] # 역순으로 반환

In [32]:
if __name__ == '__main__':
    print('10진수를 n진수로 변환합니다.')

    while True:
        while True: # 음이 아닌 정수를 입력받음
            no = int(input('변환할 값으로 음이 아닌 정수를 입력하세요.: '))
            if no > 0:
                break

        while True: # 2~36진수의 정숫값을 입력 받음
            cd = int(input('어떤 진수로 변환할까요?: '))
            if 2 <= cd <= 36:
                break
        
        print(f'{no}는 {cd}진수로 {card_conv(no, cd)}입니다.')

        retry = input("한 번 더 변환할가요?(Y ... 예 / N ... 아니요): ")
        if retry in {'N', 'n'}:
            break

10진수를 n진수로 변환합니다.
1421는 12진수로 9A5입니다.

In [2]:
# 1부터 n까지 정수의 합 구하기

def sum1ton(n):
    """1부터 n까지 정수의 합 구하기"""
    s = 0
    while n > 0:
        s += n
        n -= 1
    return s

x = int(input('x의 값을 입력하세요.: '))
print(f'1부터 {x}까지 정수의 합은 {sum1ton(x)}입니다.')

1부터 12까지 정수의 합은 78입니다.

파이썬에서 인자 전달은 실제 인자인 객체에 대한 참조를 값으로 전달하여 매개변수에 할당되는 방식

In [4]:
# 리스트에서 임의의 원솟값을 업데이트하기

def change(lst, idx, val):
    """lst[idx]의 값을 val로 업데이트"""
    lst[idx] = val

x = [11, 22, 33, 44, 55]
print('x =', x)

index = int(input('업데이트할 인덱스를 선택하세요.: '))
value = int(input('새로운 값을 입력하세요.: '))

print(f'인덱스로 {index}, 값으로 {value}를 선택했습니다.')

change(x, index, value)
print(f'x = {x}')

x = [11, 22, 33, 44, 55]
인덱스로 3, 값으로 12를 선택했습니다.
x = [11, 22, 33, 12, 55]

In [ ]:
def lst_change(org_lst, chg_lst):
    org_lst = chg_lst

org_lst = [11, 22, 33]
chg_lst = [12, 13, 14]

lst_change(org_lst, chg_lst)
print(org_lst, chg_lst) # 함수 내에서 리스트 객체를 재할당 시 변화 없음! 변경이 아님!

[11, 22, 33] [12, 13, 14]

In [8]:
# 1,000 이하의 소수를 나열하기

counter = 0 # 나눗셈 횟수를 카운트

for n in range(2, 1001):
    for i in range(2, n):
        counter += 1
        if n % i == 0: # 나누어 떨어지면 소수가 아님
            break # 반복은 더 이상 불필요하여 중단
    else: # 끝까지 나누어 떨어지지 않으면 다음을 수행
        print(n)
print(f'나눗셈을 실행한 횟수: {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
나눗셈을 실행한 횟수: 78022

In [9]:
counter = 0

for n in range(2, 1001):
    for i in range(2, n // 2 + 1): # 절반보다 큰 값으로 나누면 몫이 정수가 아님
        counter += 1
        if n % i == 0:
            break
    else:
        print(n)
print(f'counter = {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
counter = 40043

In [ ]:
# 1,000 이하의 소수를 나열하기(개선)

counter = 0 # 나눗셈 횟수를 카운트
ptr = 0 # 이미 찾은 소수의 갯수
prime = [None] * 500 # 소수를 저장하는 배열

prime[ptr] = 2 # 2는 소수이므로 초깃값으로 지정
ptr += 1

for n in range(3, 1001, 2): # 홀수만을 대상으로 설정
    for i in range(1, ptr): # 이미 찾은 소수로 나눔, 합성수는 소수들의 곱이므로 경우의 수 줄이기 위해 배제
        counter += 1
        if n % prime[i] == 0: # 나누어 떨어지면 소수가 아님
            break # 반복 중단
    else: # 끝까지 나누어 떨어지지 않았다면
        prime[ptr] = n # 소수로 배열에 등록
        ptr += 1
    
for i in range(ptr): # ptr의 소수를 출력
    print(prime[i])
print(f'나눗셈을 실행한 횟수: {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
나눗셈을 실행한 횟수: 14622

In [ ]:
# 1,000 이하의 소수를 나열하기(개선2)

counter = 0 # 나눗셈 횟수를 카운트
ptr = 0 # 이미 찾은 소수의 갯수
prime = [None] * 500 # 소수를 저장하는 배열

prime[ptr] = 2 # 2는 소수이므로 초깃값으로 지정
ptr += 1

prime[ptr] = 3 # 3은 소수
ptr += 1

for n in range(5, 1001, 2): # 홀수만 대상
    i = 1
    while prime[i] * prime[i] <= n: # 합성수는 두 수의 곱으로 나타낼 수 있음. 그 중 작은 수로만 나누어 떨어지는지 확인하면 됨.
        counter += 2 # 아래의 if문에 counter +=1 넣으면 False 시 연산 안되므로 미리 연산
        if n % prime[i] == 0: # 나누어 떨어지므로 소수 아님
            break # 반복 중단
        i += 1
    else: # 끝까지 나누어 떨어지지 않았다면
        prime[ptr] = n # 소수로 배열에 등록
        ptr += 1
        counter += 1

for i in range(ptr): # ptr의 소수를 출력
    print(prime[i])
print(f'곱셈과 나눗셈을 실행한 횟수: {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
곱셈과 나눗셈을 실행한 횟수: 3774

In [14]:
# 자료형을 정하지 않은 리스트 원소 확인하기

x = [15 , 64, 7, 3.14, [32, 55], 'ABC']
for i in range(len(x)):
    print(f'x[{i}] = {x[i]}')

x[0] = 15
x[1] = 64
x[2] = 7
x[3] = 3.14
x[4] = [32, 55]
x[5] = ABC

In [18]:
# 리스트를 복사할 때는 copy 주의해서 사용
x = [[1, 2, 3], [4, 5, 6]]
y = x.copy()
x[0][1] = 9
x, y

([[1, 9, 3], [4, 5, 6]], [[1, 9, 3], [4, 5, 6]])

In [19]:
x[0] = [11, 22]
x, y

([[11, 22], [4, 5, 6]], [[1, 9, 3], [4, 5, 6]])

In [ ]:
import copy

# 리스트를 복사할 때는 deepcopy 사용
x = [[1, 2, 3], [4, 5, 6]]
y = copy.deepcopy(x)
x[0][1] = 9
x, y

([[1, 9, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

얕은 복사와 깊은 복사

객체가 새로운 객체로 복사될 때, 그 객체가 참조 자료형의 멤버를 포함하고 있고 참조값만 복사되는 경우를 얕은 복사라고 한다. 이 경우 두 객체는 동일한 참조 대상을 공유하게 된다.

반면 깊은 복사는 참조값뿐만 아니라 참조 대상 객체 자체까지 새로 복사하는 방식이다. 따라서 객체가 가진 모든 멤버(값 형식과 참조 형식 모두)가 독립적으로 복사되며, 이를 전체 복사라고도 한다.